/* Styling for the feed */

#feed-page {
    form {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.feed {
    .list-group-item {
        .user-img {
            width: 11.666667%;

            img {
                border-radius: 5px;
                width: 65px;
            }
        }
        .content {
            width: 88.333333%;

            .glyphicon-remove {
                position: absolute;
                top: 0px;
                right: 15px;
                color: #ddd;
            }
            .glyphicon-remove:hover {
                cursor: pointer;
                color: gray;
            }

            .list-group-item-heading {
                .author-name {
                    font-weight: bold;

                    a {
                        color: black;
                    }
                    a:hover {
                        color: #555;
                        text-decoration: none;
                    }
                }
                .delimiter, .publish-date {
                    color: #777;
                }
            }
        }

    }
}