/* Styling for login page */

#login-page {
    padding-top: 60px;
    padding-bottom: 100px;

    .signup-row {
        border-top: 1px solid#888;
        padding-top:15px;
        font-size:85%;
    }
}