/* Styling for user page */

#user-page {
    .user-info-box {
        background: #f5f5f5;
        padding: 15px 0;
        border-radius: 5px;
        margin-bottom: 20px;
        border: 1px solid #ddd;

        h2 {
            margin-top: 0;
        }

        .glyphicon {
            font-size: 2em;
            margin-top: 115px;
            margin-right: 10px;
        }

        .glyphicon:hover {
            cursor: pointer;
        }
    }

    .microposts {

        .glyphicon:hover {
            color: gray;
            cursor: pointer;
        }
    }


}