/* Styling for user page */

#user-page {
    .user-info-box {
        /*background: #f5f5f5;*/
        /*background: white;*/
        background-color: #d9edf7;
        padding: 15px 0 0;
        border-radius: 5px;
        /*margin-bottom: 20px;*/
        border: 1px solid #ddd;

        .user-profile {
            margin-bottom: 15px;

            h2 {
                margin-top: 0;
            }

            .user-img-wrapper {
                width: 20%;
                img {
                    border-radius: 4px;
                    width: 100px;
                }
            }
        }
    }

    ul.nav-tabs {
        padding-left: 15px;

        li > a {
            text-align: center;

            .tab-count {
                font-size: 1.2em;
            }
        }

        .glyphicon {
            font-size: 2em;
            margin-right: 10px;
            margin-top: 15px;
        }

        .glyphicon:hover {
            cursor: pointer;
        }
    }

    .tab-content {
        margin-bottom: -20px;

        li.list-group-item {
            /*border-top: none;*/
            border-left: none;
            border-right: none;
        }
        li.list-group-item:first-child {
            border-top: none;
        }

        .tab-pane {
            background-color: white;
            padding-top: 5px;
        }
    }

    .modal {
        .modal-header {
            background-color: #f8f8f8;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            text-align: center;
        }
        .modal-footer {
            background-color: #f8f8f8;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        form {
            margin-top: 15px;

            .word-count {
                text-align: right;
                line-height: 2.3em;
                color: $primary-text-color;
            }
        }
    }


}