<div class="row">
    <div class="col-sm-12">
        <h2 class="row">Write new post</h2>
        <form ng-submit="post()" class="row">
            <div class="form-group">
                <textarea class="form-control" rows="3" ng-model="micropost"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-sm-2 col-sm-offset-10" style="margin-bottom:50px">
                    Post
                </button>
            </div>
        </form>
        <ul style="color:red" class="row">
          <li ng-repeat="error in errors">{{error}}</li>
        </ul>
    </div>
</div>