<div class="row">
    <div class="col-sm-12">
        <h2>Write new post</h2>
        <form ng-submit="post()">
            <div class="form-group">
                <textarea class="form-control" rows="3" ng-model="micropost"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-sm-2 col-sm-offset-10" style="margin-bottom:50px">
                    Post
                </button>
            </div>
        </form>
    </div>
</div>